@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html {
    background-color: rgb(43, 40, 40);
    font-family: 'Poppins', sans-serif;
}

body {


    margin: 0;
    padding: 0;
}

header h1 {
    padding-left: 37vw;
    color: #fff;
}

.searchbar {
    padding-left: 40vw;
}

#search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-button {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

#places {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;

}

.place-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: .3s ease;


}

.place-card:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.place-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.dabba p {
    font-weight: 500;
    text-transform: uppercase;
    color: aliceblue;
}

/* .info {
    background-color: beige;
    padding: 10px;
}

.info h2 {
    font-size: 18px;
    margin: 0;
}

.info p {
    font-size: 14px;
    margin: 5px 0 0;
}

.info a {
    color: #007BFF;
    text-decoration: none;
}

.info a:hover {
    text-decoration: underline;
} */